*{
  margin : 0;
}
.App{
  background-color: #ececec;
  
  
  /* object-fit: contain; */
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain ;
  background-color: white;
  padding: 10px;
display: flex;
justify-content: space-between;
  border-bottom: 1px solid rgb(107, 104, 104);
}
.app__signUp{
  display: flex;
  flex-direction: column;
}
.app__headerImage{
  object-fit: contain;
}
.app__headerFont{
  font-family: cursive;
  font-weight:600;
}
.uploaderText{
  text-align: center;
  object-fit: contain;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(255, 174, 153);
 
}